input:invalid {
  background-color: #ffdddd;
}


input:valid {
  background-color: #ddffdd;
}


input:required {
  border-color: #800000;
  border-width: 3px;
}
input:required:focus{
	border: 1px solid red;
	outline: none;
}
